<div class="login-box">
  <div class="example-button-container">
    <button (click)="navigateOnMainPage()" mat-fab color="warn" aria-label="Example icon button with a home icon">
      <mat-icon>home</mat-icon>
    </button>
  </div>
  <h2>Login</h2>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="user-box">
      <input id="username" type="text" name="username" formControlName="username" required="" autocomplete="off">
      <label>Username</label>
    </div>
    <div class="user-box">
      <input id="password" type="password"  name="password" formControlName="password" required="">
      <label>Password</label>
    </div>
    <button class="style-but" type="submit" [disabled]="!loginForm.valid">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      LOG IN
    </button>
  </form>
</div>
