.container-day-details-list{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 2em;
  border: 3px solid green;
  width: 100%;
  height: auto;
  margin: 1em auto;
}

.selected{
  background-color: red;
}

.back{
  background-color: aqua;
}


@media (max-width: 1500px) {
  .container-day-details-list{
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

