<div [ngClass]="{'back' : this.selectedItem === item}">
  <mat-card class="example-card">
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <div class="header-text">
<!--        {{item.id}}-->
      </div>
      <div class="under-header-text">
        <div class="col-6">
          <h4>Data</h4>
          <h4>Main Weather</h4>
        </div>
        <div class="col-6">
<!--          <h4>{{item.id }}</h4>-->
<!--          <h4>{{item.nameCity}}</h4>-->
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>



