.example-card {
  padding: 30px;
  position: relative;
  background: rgba(255, 255, 255, .1);
  box-shadow: 0 0 10px 1px #944;
  isolation: isolate;
  -webkit-transition: background-color .3s ease;
  transition: 1s;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.example-card:hover {
  background: aliceblue;
  transform: scale(1.1);
}



.header-text h1{
  font-size: 2em;
}

.under-header-text{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}


.col-6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.col-6 h4{
    font-size: 1.2em;
}
