<div class="button-container">
  <button mat-fab color="accent" (click)="this.changeStyleGrid()">
    <mat-icon>bookmark</mat-icon>
  </button>
</div>
<div class="grid">
  <ng-container *ngComponentOutlet="this.changeComponent"></ng-container>

  <div class="pagination">
    <mat-paginator [length]="this.countElementsTown"
                   [pageSize]="4"
                   [pageSizeOptions]="[1, 2, 3, 4, 5, 10]"
                   (page)="OnPageChange($event)">
    </mat-paginator>
  </div>
</div>


