.grid {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5em;
  border: 4px solid blue;
}



.pagination {
  margin: 1.5em 0;
  border: 2px solid red;
}

.button-container {
  width: 100%;
  height: auto;
  border: 2px solid aqua;
  text-align: right;
}


