<div class="example-button-container">
  <div>
    <button (click)="navigateOnMainPage()" mat-fab color="warn" aria-label="Example icon button with a home icon">
      <mat-icon>home</mat-icon>
    </button>
  </div>
  <div>
    <button (click)="navigateOnLoginPage()" mat-fab color="accent"
            aria-label="Example icon button with a bookmark icon">
      <mat-icon>L</mat-icon>
    </button>
  </div>
  <div>
    <button (click)="navigateOnRegistrationPage()" mat-fab color="accent"
            aria-label="Example icon button with a bookmark icon">
      <mat-icon>R</mat-icon>
    </button>
  </div>
</div>

