.item-detail-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5em;
  margin: 2em auto;
  width: 95%;
  height: auto;
  border: 3px solid aqua;
}


.container-text-image{
  border: 2px solid red;
  padding: 1.2em;
}


.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}



@media (max-width:  1000px) {
  .item-detail-container{
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
}
