.item-detail-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5em;
  margin: 2em auto;
  width: 95%;
  height: auto;
  border: 3px solid aqua;
}


.container-text-image{
  border: 2px solid red;
  padding: 1.2em;
}


@media (max-width:  1000px) {
  .item-detail-container{
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
}
